/* Global (page wide) Styles */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}

/* Abstract Class Styles can be applied to HTML elements as required */

/* Do these bootstrap-like classes go against semantic design? Or are they okay? */

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

/* Styles for top Header with nested Nav */

header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

header h1 {
  display: inline-block;
  font-size: 48px;
}

header h1 .seo {
  color: #d9dcd6;
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

/* Background image */

.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

/* Main section styles */

main {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/* All main articles share same style - no need to target multiple different CSS id selectors */
main article {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/* All img within main share same style - no need to target multiple different CSS id selectors */
main img {
  max-height: 200px;
}

/* All h2 within main share same style - no need to target multiple different CSS id selectors */
main h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* Aside section styles */

aside {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

/* All aside sections share same style - no need to target multiple different CSS id selectors */
aside section {
  margin-bottom: 32px;
  color: #ffffff;
}

/* All h2 within aside share same style - no need to target multiple different CSS id selectors */
aside h2 {
  margin-bottom: 10px;
  text-align: center;
  /* Added font-size equivilent to h3 - because was originally using h3 element */
  font-size: 1.17em;
}

/* All img within <aside> share same style - no need to target multiple different CSS id selectors */
aside img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* Footer styles */

footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  text-align: center;
}

footer h2 {
  font-size: 20px;
}
